{% extends 'todoapp/base.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
 
        <fieldset class="control-group">
            <label class="control-label" for="text">Task</label>
            <div class="controls">
                <input type="text" class="xlarge" name="text" id="text" placeholder="Enter the task">
            </div><br>
            <label class="control-label" for="priority">Priority</label>
            <div class="controls">
                <input type="text" class="xlarge" name="priority" id="priority" placeholder="Enter the priority from 1-9">
            </div><br>
            <div class="controls">
                <input type="submit" class="xlarge btn btn-success" name="add" id="add" value="Add Task">
            </div>
        </fieldset>
</form>
{% endblock %}